<html>
    <head  >
      <link rel="stylesheet" href = "./login.component.css">
      
    </head>
      <body class="container">
        
        <div >
          <h1 id="title" >{{pet_name}}</h1>
          <br><br>
        </div>
        <div >
            <form>
              <label id="user_space">
                Username:
                <input type="text" name ="name" required maxlength="30">
                <br>
              </label>
              <br>
              <label id="user_space">
                Password:&nbsp; 
                <input type="password" name ="Email" required maxlength="30">
                <br>
              </label>
  
            </form>
            <br><br>
                <nav>
                    <a id="user_space" routerLink="/new user">Register new user</a>
                </nav>
          </div>
  
      </body>
          
          
  </html>
