

<!-- <html>
  <head  >
    <link rel="stylesheet" href = "./pet-images.component.css">
    
  </head>
    <body class="container" >
      
      <div >
        <h1 id="title" >{{pet_name}}</h1>
        <br><br>
        <form>
          <input  type="file" (change)="onFileSelected($event)">
          <br><br>
        <button type="button" (click)="onUpload()">Upload2</button>

        </form>

        <div >
          <form>
            <label id="user_space">
              Username:
              <input type="text" name ="name" required maxlength="30">
              <br>
            </label>
            <br>
            <label id="user_space">
              Password:&nbsp; 
              <input type="password" name ="Email" required maxlength="30">
              <br>
            </label>

          </form>
        </div>
        <div>
          
        </div>
       
      </div>
      

    </body>
        
        
</html> -->




<!-- <html>

<html>

<html>

  <head  >
    <link rel="stylesheet" href = "./pet-images.component.css">
    
  </head>
    <body class="container" >
      
      <div >
        <h1 id="title" >{{pet_name}}</h1>
        <br><br>
        <form>
          <input  type="file" (change)="onFileSelected($event)">
          <br><br>
        <button type="button" (click)="onUpload()">Upload2</button>

        </form>

        <div >
          <form>
            <label id="user_space">
              Username:
              <input type="text" name ="name" required maxlength="30">
              <br>
            </label>
            <br>
            <label id="user_space">
              Password:&nbsp; 
              <input type="password" name ="Email" required maxlength="30">
              <br>
            </label>

          </form>
        </div>
        <div>
          
        </div>
       
      </div>
      

    </body>
        
        

</html> -->


<h1>${{pet_name}}</h1>
<br><br>
<form>
  <input type="file" (change)="onFileSelected($event)">
<h2>hello gordo!!!!!</h2>

</form>


